<template name="bookInfo">
   <div class="row">&nbsp;<br>&nbsp;<br>&nbsp;</div>
   <div class="row">
      <div class="col-sm-5">
         <img class="img-responsive  img-border margin-top center-block" src="{{getImage ilendbooksId}}" alt=""><br>
      </div>
      <div  class="col-sm-7">
         Title - {{getTitle ilendbooksId}}<br>
         Author - {{getAuthor ilendbooksId}}<br>
         No of pages - {{getNumberOfPages ilendbooksId}}<br>
         Publisher - {{getPublisher ilendbooksId}}<br>
         Edition - {{getEdition ilendbooksId}}<br>
         ISBN - {{getISBN ilendbooksId}}<br>
         Publication Date - {{getPublicationDate ilendbooksId}}<br>
         Status - <a href="#" class="text-left ilendInfoModal">{{status}}</a><br>
         {{#each getNextStatePrompt}}
             <a id="{{../ilendbooksId}}" class="option" href="#">{{prompt}}</a> &nbsp;
         {{/each}}
      </div>
      <div>&nbsp;</div>
   </div>
</template>