<template name="bookSearch">
   <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
         <h4 class="page-header">Book search </h4>
         <div class="container">
            <form name="myForm" class="Insert">
               Title   :<br>
               <input type="text" name="title" placeholder="Title" required><br>
               Author   :<br>
               <input type="text" name="author"  placeholder="Author" required><br>
               <br>
               <input type="submit" placeholder="Search">
            </form>
         </div>
      </div>
   </div>
</template>