<template name="header">  
    <nav class="navbar navbar-default" role="navigation">

     <div class="container">

         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
             <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="{{pathFor route='home'}}">ilendbooks</a>
         </div>
         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav">
                 <li>
                     <a href="{{pathFor route='home'}}">Home</a>
                 </li>
<!--                  <li>
                     <a href="{{pathFor route='bookSearch'}}">Search Books</a>
                 </li> -->
                 {{#if currentUser}} 
                     <li>
                        <a href="{{pathFor route='logout'}}" class="logout"> Log Out </a> 
                     </li>
                 {{else}}
                     <li>
                         <a href="{{pathFor route='login'}}">Log in</a>
                     </li>
                 {{/if}}
                 <li>
                     <a href="{{pathFor route='aboutUs'}}">About Us</a>
                 </li>
                 {{#if currentUser.emails.[0].verified}}
                     <li>
                        <a href="#" class='toggleSideNav'>My Account</a>
                     </li>
                 {{else}}
                      <li>
                        <a href="{{pathFor route='login'}}">My Account</a>
                     </li> 
                 {{/if}}               
             </ul>
         </div>
         <!-- /.navbar-collapse -->
     </div>
     <!-- /.container -->
   </nav>

   {{>sideNavBar}}
   
 </template>  
