<template name="mainNav">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header pull-right">

                <a class="navbar-brand page-scroll" href="{{pathFor route='home'}}">iLendBooks</a>
			  	<div class="button_for_badge pull-right">
			  		<i class="fa fa-instagram" aria-hidden="true"></i>
			  	</div>
			  	<div class="button_for_badge pull-right">
			  		<i class="fa fa-twitter" aria-hidden="true"></i>
			  	</div>
                <div class="button_for_badge pull-right">
			  		<i class="fa fa-facebook" aria-hidden="true"></i>
			  	</div>
            </div>
        </div>    
        <!-- /.container-fluid -->
    </nav>
</template>