<template name="myBorrows">
<div id="main">
<div id="page-content-wrapper">
	<div class=".container-fluid">
		<div class="row">
			<div class="box">
				<h3> My borrows </h3>
			</div>
		</div>
		
			{{#each getBorrowedBooks}}	
				{{> bookInfo}}
				<div class="box">
					{{#if isMatchedAcceptedBorrower}}
						<br>
						Confirm that you have received this book from the lender.
						<button  type="button" id="yes" class="yes btn btn-info btn-xs ilendInfoModal " >Yes</button>&nbsp;
						<button  type="button" id="no" class="no btn btn-warning btn-xs ilendInfoModal " >No</button>&nbsp;
					{{/if}}
				</div>
			{{/each}}
		</div>
	</div>
</div>
</template>