<template name="myNotifications">
<div class="row">
	{{#if isLoggedIn}}
	

		{{#each getPendingTransactions}}
		<div class="box">
			<p> {{getBorrowerName contactParameters }} has sent you a borrow request for the book {{getLenderBook contactParameters}}</p>
			<button  type="button" id="accept" class="accept btn btn-info btn-xs" >Accept</button>&nbsp;
			<button  type="button" id="decline" class="decline btn btn-warning btn-xs" >Decline</button>&nbsp;
		</div>
		{{/each}}
	{{else}}
		{{>loginValidation}}
		{{setPathInSession}}
	{{/if}}
</div>


</template>