<template name="myShelf">
<!-- <summary>
<h1> My book shelf </h1>
<div id="main">
<div class="bookDiv">
	<div class=".container-fluid">	
		<div id="page-content-wrapper">
			{{#if hasBooks}}
			<div class="box">

				{{#each getLentBooks}}		
					{{#if notRemoved ilendbooksId}}
						{{> bookInfo}}	
					
						<div>
							
							<button type="button" class="btn btn-link btn-primary btn-sm remove">Remove from shelf</button>
						</div>
					{{else}}
							<h3> You have no books on your shelf right now. </h3>
					{{/if}}
				{{/each}}
			</div>
			{{else}}
				<div class="box bookDiv">
					<h3> You have no books on your shelf right now. </h3>
				</div>
			{{/if}}
		</div>
	</div>
</div>
</div>
</summary> -->
<summary>
<h1 class="text-center">My book shelf</h1>
   <div class="container">
      <div id="main">
      <div class=".container-fluid">
         <div class="row" >
			<div id="page-content-wrapper">
				{{#if hasBooks}}
					{{#each getLentBooks}}		
						<div class="box">
						{{#if notRemoved ilendbooksId}}
							{{> bookInfo}}	
							
<!-- 							<div>
								
								<button type="button" class="btn btn-link btn-primary btn-sm remove">Remove from shelf</button>
							</div> -->
						{{else}}
							<h1>You removed a book recently</h1>
						{{/if}}
						<br>
					</div>
					{{/each}}
				
				{{else}}
					<div class="box bookDiv">
						<h3> You have no books on your shelf right now. </h3>
					</div>
				{{/if}}
			</div>        	
           
         </div>
      </div>
   </div>
   </div>
<!--    <div class="bookDiv">
	<div class=".container-fluid">	
		<div id="page-content-wrapper">
			{{#if hasBooks}}
			<div class="box">

				{{#each getLentBooks}}		
					{{#if notRemoved ilendbooksId}}
						{{> bookInfo}}	
					
						<div>
							
							<button type="button" class="btn btn-link btn-primary btn-sm remove">Remove from shelf</button>
						</div>
					{{else}}
							<h3> You have no books on your shelf right now. </h3>
					{{/if}}
				{{/each}}
			</div>
			{{else}}
				<div class="box bookDiv">
					<h3> You have no books on your shelf right now. </h3>
				</div>
			{{/if}}
		</div>
	</div>
</div> -->
           
<!--                
               {{#if currentUser}}
                  {{#unless currentUser.emails.[0].verified}}
                  <h5 class="alert alert-warning">You need to verify your email address before using ilendbooks.  <a href="#" class="resend-verification-link">Resend verification link</a></h5>
                  {{/unless}}
               {{else}}
                  <h5 class="alert alert-warning">You need to be logged in to begin lending or borrowing. </h5>
               {{/if}}    
               <div id="page-content-wrapper">
                  {{#each getSearchResults}}
                    <div class="box">
                      {{> searchResult}}
                    </div>
                    <br>
                  {{/each}}
                </div>    -->
</summary>
</template>
