<template name="notNewLenderModal">
   <div class="modal fade" id="notNewLender" role="dialog">
      <div class="modal-dialog">
                     <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Wait...</h4>
            </div>
            <div class="modal-body">
               <strong>Title:</strong> {{getTitle}}<br>
               <strong>Id:</strong> {{getIlendbooksId}}<br><br>
               <p>This book is already in your lender shelf...</p>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>
</template>