<template name="searchResult">

      <div class="row">&nbsp;<br>&nbsp;<br>&nbsp;</div>
      <div class="row">
         <div class="col-sm-3">
            <img class="img-responsive img-border  center-block" src="{{getMediumImage MediumImage}}" alt=""><br>
         </div>

         <div  class="col-sm-6">
            Title - {{getTitle ItemAttributes}}<br>
            Author - {{getAuthor ItemAttributes}}<br>
            No of pages - {{getNumberOfPages ItemAttributes}}<br>
            Publisher - {{getPublisher ItemAttributes}}<br>
            Edition - {{getEdition ItemAttributes}}<br>
            ISBN - {{getISBN ItemAttributes}}<br>
            Publication Date - {{getPublicationDate ItemAttributes}}<br><br>
         </div>
         <div class="col-sm-3">
            {{#if currentUser.emails.[0].verified}}   
               {{#if hasClickedLend}} 
                  <a class="btn btn-info btn-sm  center-block  ownThisBook" role="button">You own this book!!!</a> <br>
                  <a id="not-new-lender-{{ilendbooksId}}" class="btn btn-warning btn-sm center-block notNewLender"  role="button">In your shelf to lend!!!</a><br>

               {{else}}
                  <a id="borrow-{{ilendbooksId}}" class="btn btn-outline btn-sm center-block borrow" href="{{pathFor 'specificBookPage'}}"  role="button"> I want to borrow</a><br>
                  <a id="lend-{{ilendbooksId}}" class="btn btn-outline btn-sm center-block lend"  role="button">I want to lend</a><br>

               {{/if}}
                  <a id="{{ilendbooksId}}" class="btn btn-outline btn-sm center-block toAmazon" href="{{DetailPageURL}}" role="button">Buy on Amazon</a><br>

            {{else}}
               <a class="btn btn-info btn-sm center-block ilend-disabled-btn" role="button">I want to borrow</a><br>
               <a class="btn btn-warning btn-sm center-block ilend-disabled-btn" role="button">I want to lend</a> <br>                     
               <a class="btn btn-primary btn-sm center-block ilend-disabled-btn" role="button">Buy on Amazon</a>
            {{/if}}
         </div>
   </div>
</template>
