<template name="searchResults">
<!-- <header>
   <div id="main">
      <div class=".container-fluid">
         <div class="row">
           
               <h1 class="intro-text text-center">Search results for "{{getSearchResult.keyWords}}" </h1>

               {{#if currentUser}}
                  {{#unless currentUser.emails.[0].verified}}
                  <h5 class="alert alert-warning">You need to verify your email address before using ilendbooks.  <a href="#" class="resend-verification-link">Resend verification link</a></h5>
                  {{/unless}}
               {{else}}
                  <h5 class="alert alert-warning">You need to be logged in to begin lending or borrowing. </h5>
               {{/if}}
         
            <div id="page-content-wrapper">
               {{#each getSearchResults}}
                  <div class="box">
                  {{> searchResult}}
                  </div>
                  <br>
               {{/each}}
            </div>
         </div>
      </div>
   </div>
</header> -->
<summary>
   <div class="container">
      <div id="main">
      <div class=".container-fluid">
         <div class="row" >
           
               <h1 class="text-center">Search results for "{{getSearchResult.keyWords}}"</h1>
               {{#if currentUser}}
                  {{#unless currentUser.emails.[0].verified}}
                  <h5 class="alert alert-warning">You need to verify your email address before using ilendbooks.  <a href="#" class="resend-verification-link">Resend verification link</a></h5>
                  {{/unless}}
               {{else}}
                  <h5 class="alert alert-warning">You need to be logged in to begin lending or borrowing. </h5>
               {{/if}}    
               <div id="page-content-wrapper">
                  {{#each getSearchResults}}
                    <div class="box">
                      {{> searchResult}}
                    </div>
                    <br>
                  {{/each}}
                </div>           
           
         </div>
      </div>
   </div>
   </div>
</summary>
</template>

