         <template name="searchResult">
            <div class="bookDiv">
               <div class="row">
                  
                     <div class="col-xs-3">
                         <img class="img-responsive img-border img-left" src="{{getMediumImage MediumImage}}" alt="">
                     </div>
                     <div  class="col-xs-3">
                        <strong class="text-left">Title - {{getTitle ItemAttributes}}</strong><br>
                        <strong class="text-left">Author - {{getAuthor ItemAttributes}}</strong><br>
                        <strong class="text-left">No of pages - {{getNumberOfPages ItemAttributes}}</strong><br>
                        <strong class="text-left">Publisher - {{getPublisher ItemAttributes}}</strong><br>
                        <strong class="text-left">Edition - {{getEdition ItemAttributes}}</strong><br>
                        <strong class="text-left">ISBN - {{getISBN ItemAttributes}}</strong><br>
                        <strong class="text-left">Pub Date - {{getPublicationDate ItemAttributes}}</strong><br>   

                        {{#if currentUser.emails.[0].verified}}   

                           
                              {{#if hasClickedLend}} 
                               <a class="btn btn-info btn-xs disabled ilend-disabled-btn" role="button">I want to borrow</a>&nbsp;
                                 <button  type="button" id="not-new-lender-{{ilendbooksId}}" class="btn btn-warning btn-xs notNewLender" >I want to lend</button>&nbsp;
                              {{else}}
                                  <a id="borrow-{{ilendbooksId}}" class="btn btn-info btn-xs borrow" href="{{pathFor 'specificBookPage'}}"  role="button"> I want to borrow</a>&nbsp;
                                 <button  type="button" id="lend-{{ilendbooksId}}" class="btn btn-warning btn-xs lend">I want to lend</button>&nbsp;
                              {{/if}}
                           <a id="{{ilendbooksId}}" class="btn btn-primary btn-xs toAmazon" href="{{DetailPageURL}}" role="button">Buy on Amazon</a>
                        {{else}}
                           <a class="btn btn-info btn-xs ilend-disabled-btn" role="button">I want to borrow</a>&nbsp;
                           <a class="btn btn-warning btn-xs ilend-disabled-btn" role="button">I want to lend</a>&nbsp;                            
                           <a class="btn btn-primary btn-xs ilend-disabled-btn" role="button">Buy on Amazon</a>
                        {{/if}}
                     </div>
                
               </div>
            </div>
         </template>