<template name="user">
   <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
         <h4 class="page-header"> Enter information about yourself!</h4>
         <form name="myForm" class="Insert">
            First name   :<br>
            <input type="text" name="firstName" placeholder="First Name" required><br>
            Last name    :<br>
            <input type="text" name="lastName"  placeholder="Last Name" required><br>
            Current grade:<br>
            <input type="text" name="grade"   placeholder="Grade" required><br>
            Student I.D: <br>
            <input type="text" name="studentID"   placeholder="student ID" required><br>
            Cell number <br>
            <input type="text" name="phoneNumber"   placeholder="phone number" ><br>
            <br>
           <b> Contact preference: </b> <br>
            <input type="radio" name="contact" value="email"> E-mail<br>
            <input type="radio" name="contact" value="cell"> Cell<br>
            <input type="submit" placeholder="Start borrowing!">
         </form>
      </div>
   </div>
</template>