<template name="userHome">
   <header>
      <div id="main">
         <div id="page-content-wrapper">
            <div class="row">
               <div class="box">
                  <div class="col-lg-8 col-lg-offset-2">
                     <h2 class="intro-text text-center">
                        <strong>Search for a book!</strong>
                        <br>
                        <br>
                     </h2>
                  </div>
                  <div class="col-md-4 col-md-offset-4">
                     {{> keywordSearch}}
                  </div>
                  <div class="clearfix"></div>
               </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="box userHome">
                  <h2> Add to my shelf </h2>
                  <button type="button" class="btn btn-primary btn-lg">Add to shelf</button>
                </div>
              </div>
              <div class="col-md-6">
                <div class="box userHome">
                  <h2> I want to borrow this book </h2>
                  <button type="button" class="btn btn-primary btn-lg">Add to borrows</button>
                </div>
              </div>
            </div>
         </div>
      </div>
   </header>
</template>